@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root Variables */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  /* Existing variables from file 1 */
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;
  /* Add more from file 1 as necessary */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    /* Dark mode variables from file 1 */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    /* Add more dark theme settings */
  }
}


